
.DS_Store
Data/UK_Influenza/1994-2000-icd9c/icd9_c.xls
Data/UK_Influenza/1901-1910-icd1/icd1.xls
Data/UK_Influenza/1911-1920-icd2/icd2.xls
Data/UK_Influenza/1921-1930-icd3/icd3.xls
Data/UK_Influenza/1931-1939-icd4/icd4.xls
Data/UK_Influenza/1940-1949-icd5/icd5.xls
Data/UK_Influenza/1950-1957-icd6/icd6.xls
Data/UK_Influenza/1958-1967-icd7/icd7.xlsx
Data/UK_Influenza/1968-1978-icd8/icd8.xls
Data/UK_Influenza/1979-1984-icd9a/icd9_a.xlsx
Data/UK_Influenza/1985-1993-icd9b/icd9_b.xls
Data/UK_Influenza/temp_9.dta
Data/UK_Influenza/temp_8.dta
Data/UK_Influenza/temp_7.dta
Data/UK_Influenza/temp_6.dta
Data/UK_Influenza/temp_5.dta
Data/UK_Influenza/temp_4.dta
Data/UK_Influenza/temp_3.dta
Data/UK_Influenza/temp_2.dta
Data/UK_Influenza/temp_11.dta
Data/UK_Influenza/temp_10.dta
Data/UK_Influenza/temp_1.dta
Data/UK_Influenza/temp.dta
